target
.idea
*.iml

*.prefs

basic-client/.classpath

basic-client/.project

benchmarks/.project

benchmarks/.classpath

core/.classpath

core/.project

dlm/.classpath

dlm/.project

spring/.classpath

spring/.project
