target
.idea
*.iml


basic-client/.classpath

basic-client/.project

dlm/.classpath

dlm/.project

core/.project

core/.classpath

benchmarks/.project

spring/.classpath

spring/.project

benchmarks/.classpath

*.prefs
